
@model ProductDetailViewModel

<section class="productDetails">
    <div class="container">
        <div class="productImage">
            <img src="images/product-detail-placeholder.svg" />
            <div class="productImageDots">
                <div class="productImageDot"></div>
                <div class="productImageDot"></div>
                <div class="productImageDot"></div>
            </div>

        </div>

        <div class="productInformation">
            <div class="productInformationTop">
                <h3 class="productTitle">@Model.ProductTitle</h3>
                <i class="productAddToFavorite fa-sharp fa-light fa-heart"></i>
            </div>
            <div class="productReviewStars">
                <a asp-controller="ProductReviews" asp-action="LeaveAReview"><i class="star fa-sharp fa-solid fa-star"></i></a>
                <a asp-controller="ProductReviews" asp-action="LeaveAReview"><i class="star fa-sharp fa-solid fa-star"></i></a>
                <a asp-controller="ProductReviews" asp-action="LeaveAReview"><i class="star fa-sharp fa-solid fa-star"></i></a>
                <a asp-controller="ProductReviews" asp-action="LeaveAReview"><i class="star fa-sharp fa-solid fa-star"></i></a>
                <a asp-controller="ProductReviews" asp-action="LeaveAReview"><i class="star fa-sharp fa-solid fa-star"></i></a>
                <span>(@Model.ProductReviews.Count())</span>
            </div>
            <div class="productPrice">
                <p>$@Model.ProductPrice</p>
                <div class="productQuantity">
                    <button class="productSubtract"><i class="fa-regular fa-minus"></i></button>
                    <span>1</span>
                    <button class="productAdd"><i class="fa-regular fa-plus"></i></button>
                </div>
            </div>
            <div class="productSize">
                <h5>Size</h5>
                <div class="productSizeSelection">
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeXS">
                        <label for="sizeXS">XS</label>
                    </div>
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeS">
                        <label for="sizeS">S</label>
                    </div>
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeM">
                        <label for="sizeM">M</label>
                    </div>
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeL">
                        <label for="sizeL">L</label>
                    </div>
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeXL">
                        <label for="sizeXL">XL</label>
                    </div>
                    <div class="productSizeOption">
                        <input type="radio" name="size" id="sizeXXL">
                        <label for="sizeXXL">XXL</label>
                    </div>
                </div>
            </div>
            <div class="colorSelection">
                <div class="colorOption colorRed">
                    <input type="radio" name="color" id="colorRed">
                    <label for="colorRed"></label>
                </div>
                <div class="colorOption colorBlue">
                    <input type="radio" name="color" id="colorBlue">
                    <label for="colorBlue"></label>
                </div>
                <div class="colorOption colorBeige">
                    <input type="radio" name="color" id="colorBeige">
                    <label for="colorBeige"></label>
                </div>
                <div class="colorOption colorDarkBlue">
                    <input type="radio" name="color" id="colorDarkBlue">
                    <label for="colorDarkBlue"></label>
                </div>
                <div class="colorOption colorBlack">
                    <input type="radio" name="color" id="colorBlack">
                    <label for="colorBlack"></label>
                </div>
            </div>
            <div class="productDescription">
                <h5>Description</h5>
                <p>@Model.ProductDescription</p>
            </div>
            <div class="buttonContainer">
                <button class="button335W">+ ADD TO CART</button>
            </div>
        </div>
        <div class="productReviews">
            <h3>Reviews (@Model.ProductReviews.Count())</h3>
            <a class="productViewAllReviews" href="Reviews.html">view all <i class="fa-solid fa-chevron-right"></i></a>
            <partial name="/Views/Partials/_productReviewCard.cshtml" />
            <partial name="/Views/Partials/_productReviewCard.cshtml" />
            <partial name="/Views/Partials/_productReviewCard.cshtml" />

        </div>
    </div>
</section>