<section class="passwordReset">
    <div class="container">
        <div class="logo">
            <img src="/images/logos/logo.svg" alt="">
        </div>
        <div class="createdLogo">
            <img src="/images/Key.png" alt="">
        </div>
        <div class="line"></div>
        <div class="createdText">
            <h3>Your password has been reset!</h3>
            <p>Qui ex aute ipsum duis. Incididunt adipisicing voluptate laborum</p>
        </div>
        <div class="createdButton">
            <button class="button335W">DONE</button>
        </div>
    </div>
</section>