<section class="accountCreated">
    <div class="container">
        <div class="logo">
            <img src="/images/logos/logo.svg" alt="">
        </div>
        <div class="createdLogo">
            <img src="/images/Account.svg" alt="">
        </div>
        <div class="line"></div>
        <div class="createdText">
            <h3>Account Created</h3>
            <p>Your account had been created successfully.</p>
        </div>
        <div class="createdButton">
            <button class="button335W">SHOP NOW</button>
        </div>
    </div>
</section>