<section class="categoryGrid">
    <div class="gridContainer">
        <div class="row">
            <div class="col-4 dresses">
                <div class="categoryTitle"><h4 class="categoryTitleText">Dresses</h4></div>
            </div>
            <div class="col-4 pants">
                <div class="categoryTitle"><h4 class="categoryTitleText">Pants</h4></div>
            </div>
        </div>

        <div class="row">
            <div class="col-8 accessories">
                <div class="categoryTitle"><h4 class="categoryTitleText">Accessories</h4></div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 shoes">
                <div class="categoryTitle"><h4 class="categoryTitleText">Shoes</h4></div>
            </div>
            <div class="col-4 tShirts">
                <div class="categoryTitle"><h4 class="categoryTitleText">T-Shirts</h4></div>
            </div>
        </div>
    </div>
</section>