@model CategoryViewModel

<section class="topCategoryContainer">
    @foreach (var category in Model.Categories)
    {
        <a href="@Url.Action("Index", "Product", new { category = category })" class="categoryName">
            <p class="categoryText">@category</p>
        </a>
    }
</section>
