<section class="topCategoryContainer">
    <a href="#" class="categoryName"><p class="categoryText">MEN</p></a>
    <a href="#" class="categoryName"><p class="categoryText">WOMEN</p></a>
    <a href="#" class="categoryName"><p class="categoryText">KIDS</p></a>
    <a href="#" class="categoryName"><p class="categoryText">ACCESSORIES</p></a>
</section>