@model CategoryViewModel

<section class="categoryGrid">
    <div class="gridContainer">
        <div class="row">
            @foreach (var category in Model.Categories.Take(2))
            {
                <div class="col-4">
                    <div class="categoryTitle"><h4 class="categoryTitleText">@category</h4></div>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var category in Model.Categories.Skip(2).Take(1)) 
            {
                <div class="col-8">
                    <div class="categoryTitle"><h4 class="categoryTitleText">@category</h4></div>
                </div>
            }
        </div>

        <div class="row">
            @foreach (var category in Model.Categories.Skip(3).Take(2)) 
            {
                <div class="col-4">
                    <div class="categoryTitle"><h4 class="categoryTitleText">@category</h4></div>
                </div>
            }
        </div>
    </div>
</section>