<section class="emptyShoppingcart">
    <div class="container">
        <div class="picture"><img src="./images/Cart.png" alt=""></div>
        <p class="line">|</p>
        <h1>Your cart is empty!</h1>
        <p>Looks like you haven't made <br>your order yet</p>
        <form asp-action="Index" asp-controller="Home">
            <button class="button335W">SHOP NOW</button>
        </form>
    </div>
</section>