<div class="productReviewCard">
    <div class="imageAndContentContainer">
        <img src="images/review-image.svg" alt="">
        <div class="product-review-card-container">
            <h6 class="reviewName">Jenny Wilson</h6>
            <p class="reviewDate">23 Jan 2022</p>
            <p class="reviewText">Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident commodo.</p>
        </div>
    </div>
    <div class="reviewStars">
        <i class="star fa-sharp fa-solid fa-star"></i>
        <i class="star fa-sharp fa-solid fa-star"></i>
        <i class="star fa-sharp fa-solid fa-star"></i>
        <i class="star fa-sharp fa-light fa-star"></i>
        <i class="star fa-sharp fa-light fa-star"></i>
    </div>
</div>