
<div class="productReviewCard">
    <div class="imageAndContentContainer">
        <img src="images/review-image.svg" alt="">
        <div class="productReviewCardContainer">
            <h6 class="reviewName">@Model.Name</h6>
            <p class="reviewDate">@Model.Created.ToString("dd/MM/yyyy")</p>
            <p class="reviewText">@Model.Comment</p>
        </div>
    </div>
    <div class="reviewStars">
        @switch(Model.Rating)
        {
            case 1:
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                 break;

            case 2:
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                 break;

            case 3:
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                break;

            case 4:
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-light fa-star"></i>
                break;

            case 5:
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                <i class="star fa-sharp fa-solid fa-star"></i>
                break;
        }

    </div>
</div>
