@page
@model Projektgrupp4.Views.Partials._WishListModel
@{
}


<section class="WishList-Section">
    <div class="container-fluid">
        <div class="wishlist-cards">


            <div class="wishlist-card">
                <div class="wishlist-card-image">
                    <img src="/images/productImage.svg" alt="prod-cards">
                  @*   <div class="wishlist-sale">
                        <p>Sale</p>
                    </div> *@
                </div>
                <div class="wishlist-prod-details">
                    <p>Summer dress</p>
                    <p>$42.89</p>
                    <div class="wishlist-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                    </div>
                </div>
                <div class="wishlist-cart-details">
                    <a id="wishlist-heart" href="#"><i class="fa-solid fa-heart"></i></a>
                    <i id="wishlist-shopping-bag" class="fa-light fa-bag-shopping"></i>
                </div>
            </div>


            <div class="wishlist-card">
                <div class="wishlist-card-image">
                    <img src="/images/productImage.svg" alt="prod-card">
                </div>
                <div class="wishlist-prod-details">
                    <p>Summer dress</p>
                    <p>$42.89</p>
                    <div class="wishlist-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                    </div>
                </div>
                <div class="wishlist-cart-details">
                    <a id="wishlist-heart" href="#"><i class="fa-solid fa-heart"></i></a>
                    <i id="wishlist-shopping-bag" class="fa-light fa-bag-shopping"></i>
                </div>
            </div>



            <div class="wishlist-card">
                <div class="wishlist-card-image">
                    <img src="/images/productImage.svg" alt="prod-cards">
                </div>
                <div class="wishlist-prod-details">
                    <p>Summer dress</p>
                    <p>$42.89</p>
                    <div class="wishlist-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                    </div>
                </div>
                <div class="wishlist-cart-details">
                    <a id="wishlist-heart" href="#"><i class="fa-solid fa-heart"></i></a>
                    <i id="wishlist-shopping-bag" class="fa-light fa-bag-shopping"></i>
                </div>
               
            </div>



            <div class="wishlist-card">
                <div class="wishlist-card-image">
                    <img src="/images/productImage.svg" alt="prod-cards">
                </div>
                <div class="wishlist-prod-details">
                    <p>Summer dress</p>
                    <p>$42.89</p>
                    <div class="wishlist-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-light fa-star"></i>
                        <i class="fa-light fa-star"></i>
                    </div>
                </div>
                <div class="wishlist-cart-details">
                    <a id="wishlist-heart" href="#"><i class="fa-solid fa-heart"></i></a>
                    <i id="wishlist-shopping-bag" class="fa-light fa-bag-shopping"></i>
                </div>
            </div>

        </div>
    </div>
</section>