@model CategoryViewModel
<section>
    <form method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label asp-for="CategoryName" class="form-label">Category Name</label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create Category</button>

        <div class="mt-4">
            <h4>Existing Category:</h4>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li>@category</li>
                }
            </ul>
        </div>
    </form>


</section>