@{
    ViewData["Title"] = "Featured products page";
    var products = await productService.GetAllProductsAsync();
}

<partial name="/Views/Partials/HeaderPartial/_Header.cshtml" />

<section class="_17ShopSection">
    <div class="container">
        <div class="top">
            <div class="title">
                <a asp-action="Index" asp-controller="Home"><i class="fa-solid fa-chevron-left"></i></a>
                <h2>Featured products</h2>
            </div>

            <div class="filterSort">
                <p><i class="fa-regular fa-sliders-up"></i> Filters</p>
                <p>Sorting by  <i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </div>

        <div class="cardGrid">
            <div class="cards">

                <!-- Card -->
                @foreach (var product in products)
                {
                    if (product != null)
                    {

                  @*    if(productCategory == product.featured)    //Eller vad det nu blir sen.
                        {
                            Flytta in kod nedan.
                        } *@

                        <a asp-controller="ProductDetail" asp-action="ProductDetail" asp-route-ArticleNumber="@product.ArticleNumber" class="card">
                            <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                            <div class="text">
                                <p class="ProductRating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-light fa-star"></i>
                                    <i class="fa-light fa-star"></i>
                                    (3)
                                </p>
                                <h2 class="productTitle">@product.ProductTitle</h2>
                                <div class="prices">
                                    <p class="productPrice">$@product.ProductPrice</p>
                                    <p class="productPrice oldPrice d-none">$@product.ProductPrice</p>
                                    <p class="productOfferPrice d-none">$@product.ProductOfferPrice</p>
                                </div>
                            </div>
                        </a>
                    }
                }

            </div>
        </div>
    </div>
</section>

<partial name="/Views/Partials/FooterPartial/_footerPartial.cshtml" />