@import '../core/_colors.scss';
@import '../core/_fonts.scss';
@import '../core/_mixins.scss';

.topCategoryContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content:space-evenly;
    align-items: center;
    margin-top: 2rem;
   
    
    
    .categoryName {  
      display: flex;
      justify-content: space-evenly;
      align-items: end;
      text-decoration: none;
      color: $color-darkBlack; 
      font-size:0.5rem;
      text-align: center;
     
      .categoryText{
        padding-top: 0.25rem;
        padding-bottom:0.25rem;
        border-radius: 2rem;
        width:5rem;
        
        &:hover{
            background-color: $color-categoryBlue;
      }


      }

 


  
      @include md {
        width: calc(25% - 1rem); /* Anpassa bredden vid minst 768px skärm */
      }
  
      @include lg {
        width: calc(20% - 1rem); /* Anpassa bredden vid minst 992px skärm */
      }
  
      @include xl {
        width: calc(15% - 1rem); /* Anpassa bredden vid minst 1200px skärm */
      }
  
      @include xxl {
        width: calc(12.5% - 1rem); /* Anpassa bredden vid minst 1400px skärm */
      }
    }
  }