@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";

//Ändra inte denna kod. Om du vill lägga till mer kod, gör det längre ner på sidan. :)
html, body {
    font-size: 16px;
    font-family: $font-mulish;
    font-weight: $font-weight-regular;
    color: $color-darkGrey1;
}

//Ändra inte denna kod ovanför.

// Nedanför kan du lägga till mer kod.