//Ändra inte denna kod. Om du vill lägga till mer kod, gör det längre ner på sidan. :)

// Colors
$color-white:#FFFFFF;
$color-theme: #DBE3F5;
$color-darkBlack: #111111;
$color-darkGrey1: #626262;
$color-darkGrey2: #8D94A6;

$color-red: #F4303C;
$color-green1: #69864D;
$color-green2: #00824B;
$color-yellow: #FFBE00;
$color-orange: #EF962D;

//Products color
$color-productRed: #FF6262;
$color-productDarkBlue: #323858;
$color-productLightBlue: #63C7FF;
$color-productBeige: #F8E7CD;

//Social color
$color-socialDarkBlue: #3B5999;
$color-socialLightBlue: #55ACEE;
$color-socialRed: #DD4B39;

//Ändra inte denna kod ovanför.

// Nedanför kan du lägga till mer kod.