//Ändra inte denna kod. Om du vill lägga till mer kod, gör det längre ner på sidan. :)

//Font Mulish
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

$font-mulish: 'Mulish', sans-serif;

//Font weight
$font-weight-regular : 400;
$font-weight-semibold : 600;
$font-weight-bold : 700;

//Ändra inte denna kod ovanför.

// Nedanför kan du lägga till mer kod.