@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";
@import "../core/_Buttons.scss";
@import "../core/_Base.scss";
@import "../core/_Mixins.scss";

.signUp {
    margin: 20px;

    .container {
        margin-bottom: 4rem;
    }


    .navigateBack {

        @include xl {
            display: none;
        }

        display: grid;
        grid-template-columns: auto 1fr; /* Dela utrymmet mellan <a> och <p> */
        a {
            justify-self: start;
            color: $color-darkBlack;

            &:hover {
                color: $color-socialLightBlue;
            }
        }

        p {
            justify-self: center;
            margin: 0;
        }
    }

    .line {
        border: 1px solid black;
        height: 30px;
        width: 1px;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .signUpForm {

        @include xl {
            border: 1px solid $color-theme;
            padding: 25px;
            box-shadow: 0 0 20px $color-theme;
        }

        h1 {
            text-align: center;
            font-size: 32px;
            font-weight: $font-weight-bold;
            color: $color-darkBlack;
            margin-bottom: 40px;
        }

        .formSections {
            position: relative;
            margin-bottom: 20px;

            label {
                position: absolute;
                background-color: white;
                left: 20px;
                top: -8px;
                z-index: 1;
                padding: 0 15px;
                font-weight: $font-weight-semibold;
                font-size: 12px;
                color: $color-darkGrey1;
            }

            input {
                border: 1px solid $color-theme;
                border-radius: 50px;
                width: 100%;
                padding: 10px 30px;
                z-index: 0;
            }

            .toggleEye {
                position: absolute;
                background: none;
                border: none;
                cursor: pointer;
                width: 30px;
                right: 30px;
                top: 10px;
            }

            small {
                display: block;
                margin-top: 5px;
            }
        }

        button {
            @include xl {
                width: 100%;
            }
        }
        /* Hide the check icons by default */
        .fa-check {
            display: none;
        }
        /* Style the check icons when shown */
        .fa-check.shown {
            color: green;
            display: inline;
        }



        p {
            margin-top: 20px;

            a {
                color: $color-darkBlack;
                text-decoration: none;

                &:hover {
                    color: $color-socialLightBlue;
                }
            }
        }

        .socialMedia {
            display: flex;
            justify-content: center;
            margin-top: 40px;

            p {
                padding: 10px;
                border: 1px solid $color-theme;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: inherit;

                    &:hover {
                        color: $color-socialLightBlue;
                    }
                }
            }
        }
    }
}
