@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";
@import "../core/_Buttons.scss";
@import "../core/_Mixins.scss";
@import "../core/_Base.scss";

._17ShopSection {

    .container {

        .top {

            .title {
                display: flex;
                margin-top: 1rem;
                margin-bottom: 2rem;
                justify-items: center;
                align-items: center;

                a {
                    font-size: 22px;
                    color: $color-darkBlack;
                    padding-left: 1rem;

                    @include md {
                        padding-left: 0;
                    }

                    @include lg {
                        padding-left: 2.2rem;
                    }

                    @include xxl {
                        padding-left: 8rem;
                    }

                    i {
                        transition: all 0.25s ease-in-out;

                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }

                h2 {
                    font-size: 30px;
                    font-weight: $font-weight-bold;
                    color: $color-darkBlack;
                }
            }

            .title :first-child {
                width: auto;
            }

            .title > * {
                flex: auto;
            }

            .filterSort {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                color: $color-darkGrey1;
                font-size: 14px;


                @include lg {
                    padding: 0 2.5rem;
                }

                @include xxl {
                    padding: 0 8.4rem;
                }

                a {
                    text-decoration: none;
                    color: $color-orange;
                }
            }
        }
    }
}
