@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";
@import "../core/_Mixins.scss";
@import "../core/_Base.scss";

.emptyShoppingcart {
    @include xl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh
    }

    .container {
        display: grid;
        grid-template-columns: 335px;
        text-align: center;
        justify-content: center;

        @include xl {
            border: 1px solid $color-theme;
            padding: 25px;
            box-shadow: 0 0 20px $color-theme;
        }

        .line {
            margin-top: 10px;
            font-size: 40px;
        }

        h1 {
            font-weight: $font-weight-bold;
            color: black;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}
