@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";
@import "../core/_Buttons.scss";
@import "../core/_Mixins.scss";
@import "../core/_Base.scss";

.Footer-Section {

    & > .container-fluid {
        border-top: 1px solid grey;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 30px;
        color: $color-darkBlack;


        & > a {
            color: $color-darkBlack;

            /* Ev Ta bort*/
            transition: all 0.25s ease-in-out;
            /* end */

            & > i {
                color: $color-darkGrey1;

                /* Ev Ta bort*/
                &:hover {
                    color: $color-yellow;
                }
                /* end */
            }
        }
    }
}
