@import "../core/_Fonts.scss";
@import "../core/_Colors.scss";
@import "../core/_Mixins.scss";
@import "../core/_Base.scss";

.Header-Section {
    overflow: hidden;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    transition: transform 0.3s;
    transform: translateX(0);

    .top-menu-left {
        & > p {
            font-weight: $font-weight-semibold;
        }
    }
}

#menu-toggle {
    cursor: pointer;
    background-color: transparent;
    color: black;
    padding: 5px 10px;
    border: none;
    font-size: 30px;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    & > img {
        width: 150px;
    }

    & > input {
        display: none;
    }

    @include lg {
        justify-content: space-around;
        margin-top: 3rem;

        & > input {
            display: none;
        }

        & > img {
            display: block;
            width: 150px;
        }
    }

    .shopping-cart {
        position: relative;

        .cart-items {
            position: absolute;
            top: 5px;
            left: -1rem;
            width: 25px;
            height: 20px;
            border: 1px solid red;
            border-radius: 50%;
            background-color: red;
            color: white;
            display: flex;
            justify-content: center;

            & > p {
                font-size: 10px;
            }
        }
    }
}

.slide-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: black;
    color: white;
    transition: transform 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .slide-menu-top {
        & > h1 {
            padding: 1rem;
        }

        .slider-menu-content {
            border-bottom: 1px solid white;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;

            & > p {
                margin: 0;
            }
        }
    }
}

.slide-menu-content {
    padding: 20px;
}
