@page
@model Projektgrupp4.Views.Partials.FooterPartial._footerPartialModel
@{
}

<section class="Footer-Section">
    <footer class="container-fluid">
        <a href="#"><i class="fa-regular fa-circle-arrow-right"></i></a>
        <a href="#"><i class="fa-regular fa-magnifying-glass"></i></a>
        <a href="#"><i class="fa-light fa-bag-shopping"></i></a>
        <a href="#"><i class="fa-light fa-bag-shopping"></i></a>
        <a href="#"><i class="fa-light fa-circle-user"></i></a>

    </footer>
</section>