<section class="Footer-Section">
    <footer class="container-fluid">
        <a asp-action="Index" asp-controller="Home"><i class="fa-light fa-house"></i></a>
        <a href="#"><i class="fa-regular fa-magnifying-glass"></i></a>
        <a asp-action="Index" asp-controller="ShoppingCart" ><i class="fa-light fa-bag-shopping"></i></a>


        <a asp-action="WishList" asp-controller="Product"><i class="fa-regular fa-heart"></i></a>

      @*   <a href="#"><i class="fa-regular fa-heart"></i></a> *@
        <a asp-action="Index" asp-controller="SignIn"><i class="fa-light fa-circle-user"></i></a>

    </footer>
</section>