@page
@model Projektgrupp4.Views.Partials.HeaderPartial._HeaderModel
@{
}


<section class="Header-Section">
    <div class="container-fluid">
    @*     <div class="top-menu">
            <div class="top-menu-left"><p>9</p></div>
            <div class="top-menu-right">
                <i class="fa-solid fa-signal"></i>
                <i class="fa-solid fa-wifi"></i>
                <i class="fa-solid fa-battery-full"></i>
            </div>
        </div> *@

        <div class="bottom-menu">
            <button id="menu-toggle" class="fa-sharp fa-light fa-bars"></button>
            <input class="main-search" type="text" placeholder="&#xF002; Search" style="font-family: Arial, FontAwesome" />
            <div class="shopping-cart">
                <i class="fa-thin fa-basket-shopping"></i>
                <div class="cart-items">
                    <p>$0</p>
                </div>
            </div>
        </div>

        <div class="slide-menu">
            <div class="slide-menu-top">
                <h1>Contact US</h1>

                <div class="slider-menu-content">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>
                        27 Division St, New York
                    </p>
                </div>

                <div class="slider-menu-content">
                    <i class="fa-solid fa-envelope"></i>
                    <p>
                        manerosupport@mail.com
                    </p>
                </div>

                <div class="slider-menu-content">
                    <i class="fa-regular fa-phone-volume"></i>
                    <p>
                        +17 987654321
                    </p>
                </div>
            </div>

            <div class="slide-menu-bottom">
                <fieldset>
                    <legend>Order number</legend>
                    <input placeholder="Search">
                </fieldset>
            </div>


        </div>
    </div>
</section>