@{
    ViewData["Title"] = "Home Page";

    var products = await productService.GetAllProductsAsync();
}

@* Add Header partial
<partial name="" /> *@

<div class="_13Home">
    <!-- Showcase section. Welcome To Manero! -->
    <section class="showcase">
        <h1>
            Welcome To <br>
            Manero! <br>
            50% off
        </h1>
    </section>

    <!-- Best sellers section -->
    <section class="cardSection">
        <div class="container">
            <div class="top">
                <h2>Best Sellers</h2>
                <a href="#">view all <i class="fa-solid fa-chevron-right"></i></a>
            </div>

            <div class="cardGrid">
                <div class="cards">

                    <!-- Card -->
                    @foreach (var product in products)
                    {
                        if (product != null)
                        {
                            <a asp-controller="ProductDetail" asp-action="ProductDetail" asp-route-ArticleNumber="@product.ArticleNumber" class="card">
                                <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                                <div class="text">
                                    <p class="ProductRating">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-light fa-star"></i>
                                        <i class="fa-light fa-star"></i>
                                        (3)
                                    </p>
                                    <h2 class="productTitle">@product.ProductTitle</h2>
                                    <div class="prices">
                                        <p class="productPrice">$@product.ProductPrice</p>
                                        <p class="productPrice oldPrice d-none">$@product.ProductPrice</p>
                                        <p class="productOfferPrice d-none">$@product.ProductOfferPrice</p>
                                    </div>
                                </div>
                            </a>

                            @* To display a certain number of products. Max 4 pcs. Start -->*@

                            productCount++; // Increments the productCounter.

                            if (productCount >= 4) // Break out of the loop after showing 4 products.
                            {
                                break;
                            }

                            @* <-- End. *@
                        }
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- Take 50% off now! -->
    <section class="take5OfNow">
        <div class="container">
            <h1>Take 50% off now!</h1>
            <a class="buttonWhite" href="#">SHOP NOW</a>
        </div>
    </section>

    <!-- Featured products section -->
    <section class="cardSection">
        <div class="container">
            <div class="top">
                <h2>Featured Products</h2>
                <a href="#">view all <i class="fa-solid fa-chevron-right"></i></a>
            </div>

            <div class="cardGrid">
                <div class="cards">

                    <!-- Card 1 -->
                    <a class="card product" href="#">
                        <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                        <div class="text">
                            <p class="ProductRating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                (3)
                            </p>
                            <h2 class="productTitle">Warm hat</h2>
                            <div class="prices">
                                <p class="productPrice ">$6.93</p>
                                <p class="productPrice oldPrice d-none">$38</p>
                                <p class="productOfferPrice d-none">$30</p>
                            </div>
                        </div>
                    </a>

                    <!-- Card 2 -->
                    <a class="card product" href="#">
                        <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                        <div class="text">
                            <p class="ProductRating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                (3)
                            </p>
                            <h2 class="productTitle">Summer dress</h2>
                            <div class="prices">
                                <p class="productPrice d-none">$29.95</p>
                                <p class="productPrice oldPrice">$36</p>
                                <p class="productOfferPrice">$15.98</p>
                            </div>
                        </div>
                    </a>

                    <!-- Card 3 -->
                    <a class="card product" href="#">
                        <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                        <div class="text">
                            <p class="ProductRating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                (3)
                            </p>
                            <h2 class="productTitle">Shoulder bag</h2>
                            <div class="prices">
                                <p class="productPrice d-none">$29.95</p>
                                <p class="productPrice oldPrice">$38</p>
                                <p class="productOfferPrice">$30</p>
                            </div>
                        </div>
                    </a>

                    <!-- Card 4 -->
                    <a class="card" href="#">
                        <img class="productImage" src="/images/productImage.svg" alt="Image of product">
                        <div class="text">
                            <p class="ProductRating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                <i class="fa-light fa-star"></i>
                                (3)
                            </p>
                            <h2 class="productTitle">Black sneakers</h2>
                            <div class="prices">
                                <p class="productPrice">$29.95</p>
                                <p class="productPrice oldPrice d-none">$29.95</p>
                                <p class="productOfferPrice d-none">$29.95</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

@* Add Header partial
<partial name="" /> *@
