<section class="leaveAReviewSection">
    <div class="container">
        <div class="leaveAReviewTopsection">
            <a href="Product.html"><i class="fa-solid fa-chevron-left"></i></a>
            <h6>Leave a Review</h6>
        </div>
        <div class="reviewContainer">
            <img src="/images/Review.png" alt="">
            <div class="verticalLine"></div>
            <h2>Please rate the quality of service for the order!</h2>
            <div class="rateProduct">
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
                <i class="fa-sharp fa-solid fa-star"></i>
            </div>
            <p>Your comments and suggestions help us improve the service quality better!</p>
            <div class="commentSection">
                <label for="">COMMENT</label>
                <textarea class="comment" placeholder="Enter your comment"></textarea>
                <div>
                    <button class="button335W">SUBMIT</button>
                </div>
            </div>
        </div>

    </div>
</section>