@model ProductReviewsViewModel

<section class="reviewSection">
    <div class="container">
        <div class="reviewTopSection">
            <a href="javascript:history.back()"><i class="fa-solid fa-chevron-left"></i></a>
            <h6>Reviews</h6>
        </div>
        <div class="productReviews">

         @*    @foreach (var review in Model.Reviews)
            {
                <partial name="/Views/Partials/_productReviewCard.cshtml" model="@review" />
            } *@

        </div>
    </div>
</section>